/* Based on CSS suggested by Dennis Martinez on the wanikanitoanki.com
   website. */
.card {
  font-family: Noto Sans CJK JP Regular;
  /* font-family: arial; */
  font-size: 40px;
  text-align: center;
  color: black;
  background: #F3F3F3;
  margin 0px;
  word-wrap: break-word;
}

.ja {
  color: #fff;
  font-size: 3em;
  font-weight: normal;
  line-height: 1.6em;
}

.ja a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/* Compensate for AnkiDroid night mode. */
.night_mode .ja {
  filter: invert(1);
  /* -webkit-filter: invert(1); */
}

.radical {
  background-color: #00a0f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) inset;
  text-shadow: 5px 5px 0 #0093dd;
}

.kanji {
  background-color: #f100a0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) inset;
  text-shadow: 5px 5px 0 #dd0093;
}

.vocabulary {
  background-color: #a000f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) inset;
  text-shadow: 5px 5px 0 #9300dd;
}

.small {
  color: #888888;
  padding-top: 5px;
  font-size: 0.5em;
}

.radical-divider {
  background-color: #e7e7e7;
  color: #3e3e3e;
  font-size: 0.75em;
  font-weight: normal;
  margin-bottom: 2px;
  line-height: 1.6em;
}

.kanji-divider {
  background-color: #2a2a2a;
  color: white;
  font-size: 0.75em;
  font-weight: normal;
  margin-bottom: 2px;
  line-height: 1.6em;
}

.meanings {
  padding-top: 5px;
  font-weight: normal;
  font-size: 0.5em;
}

.readings {
  padding-top: 1px;
  font-weight: normal;
  font-size: 0.5em;
}

.readings th {
  font-weight: normal;
  /* font-size: 0.5em; */
}

.note {
  padding-top: 5px;
  font-weight: normal;
  font-size: 0.5em;
}

#button_1 {
  color: #fff;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  border: 0;
  font-family: Noto Sans CJK JP Regular;
  font-size: 12px;
  line-height: 1.6875;
  padding: 0.5625em 1em;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  border-radius: 10px;
  transition: all 0.2s ease;
  background:  -webkit-linear-gradient(#55A5D5, #3D7597);
}

#container {
  padding: 0 60px;
  color: black;
  text-align: left;
  font-size: 20px;
}

input#typeans {
  font-family: Noto Sans CJK JP Regular;
  font-size: 30px;
  text-align: center;
  color: black;
  border: 1px;
  margin: 20px 0px 20px 0px;
  padding: 20px 0px 20px 0px;
  outline: 0;
  outline-style: none;
  outline-width: 0;
  border-radius: 20px;
}

div#incorrect {
  background: -webkit-linear-gradient(#FF0033, #B20024);
  font-family: Noto Sans CJK JP Regular;
  padding: 20px;
  outline: 0;
  outline-style:none;
  outline-width:0;
  border-radius: 20px;
  margin: 10px;
}

div#correct {
  background: -webkit-linear-gradient(#88CC00, #5F8F00);
  font-family: Noto Sans CJK JP Regular;
  padding: 20px;
  outline: 0;
  outline-style:none;
  outline-width:0;
  border-radius: 20px;
  margin: 10px;
}
