/* Inspired by CSS from various Japanese Anki decks, particularly the
   Ganki deck, as well as CSS suggested by Dennis Martinez on the
   wanikanitoanki.com website. */
.card {
  font-family: Noto Sans CJK JP Regular;
  /* font-family: arial; */
  font-size: 40px;
  text-align: center;
  color: black;
  background: #F3F3F3;
  margin: 0px;
  word-wrap: break-word;
}

.ja {
  color: #fff;
  font-size: 3em;
  font-weight: normal;
  line-height: 1.6em;
}

.mobile .ja {
  font-size: 2.25em;
}

.ja a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/* Compensate for AnkiDroid night mode. */
.night_mode .ja {
  filter: invert(1);
  /* -webkit-filter: invert(1); */
}

.radicals {
  background-color: #00a0f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) inset;
  text-shadow: 5px 5px 0 #0093dd;
}

.kanji {
  background-color: #f100a0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) inset;
  text-shadow: 5px 5px 0 #dd0093;
}

.vocabulary {
  background-color: #a000f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) inset;
  text-shadow: 5px 5px 0 #9300dd;
}

.small {
  color: #888888;
  margin-top: 1em;
  font-size: 0.5em;
}

.divider {
  font-size: 0.75em;
  font-weight: normal;
  margin-bottom: 2px;
  padding: 20px 0;
  line-height: 1.6em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index:999;
}

.mobile .divider {
  font-size: 0.5em;
  margin-bottom: 2px;
  padding: 10px 0;
  line-height: 1.6em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.radicals-divider {
  background-color: #e7e7e7;
  color: #3e3e3e;
}

.kanji-divider {
  background-color: #2a2a2a;
  color: white;
}

.meanings {
  margin: 0.5em 0;
  padding-top: 0.5em;
  font-weight: normal;
  font-size: 0.75em;
}

.readings {
  margin: 0.5em 0;
  padding-top: 0.1em;
  font-weight: normal;
  font-size: 0.75em;
}

.readings table {
  border-collapse: separate;
  border-spacing: 1em 0.5em;
}

.readings th {
  font-weight: normal;
  text-align: left;
}

.reading-type {
  color: #888888;
  font-size: 0.5em;
}

.note {
  padding-top: 5px;
  font-weight: normal;
  font-size: 0.5em;
  margin: 0.25em 2em;
  text-align: left;
  display: inline-block;
}

input#typeans {
  font-family: Noto Sans CJK JP Regular;
  font-size: 30px;
  text-align: center;
  color: black;
  border: 1px;
  margin: 20px 0px 20px 0px;
  padding: 20px 0px 20px 0px;
  outline: 0;
  outline-style: none;
  outline-width: 0;
  border-radius: 20px;
}

.mobile input#typeans {
  font-size: 15px;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  border-radius: 10px;
}

div#incorrect {
  background: -webkit-linear-gradient(#FF0033, #B20024);
  font-family: Noto Sans CJK JP Regular;
  padding: 20px;
  outline: 0;
  outline-style:none;
  outline-width:0;
  border-radius: 20px;
  margin: 10px;
}

div#correct {
  background: -webkit-linear-gradient(#88CC00, #5F8F00);
  font-family: Noto Sans CJK JP Regular;
  padding: 20px;
  outline: 0;
  outline-style:none;
  outline-width:0;
  border-radius: 20px;
  margin: 10px;
}
